.pdb
*.dll
*.pdb

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
packages/Castle.Core.3.3.0/ASL - Apache Software Foundation License.txt
packages/Castle.Core.3.3.0/BreakingChanges.txt
packages/Castle.Core.3.3.0/Castle.Core.3.3.0.nupkg
packages/Castle.Core.3.3.0/Changes.txt
packages/Castle.Core.3.3.0/lib/net35/Castle.Core.xml
packages/Castle.Core.3.3.0/lib/net40-client/Castle.Core.xml
packages/Castle.Core.3.3.0/lib/net45/Castle.Core.xml
packages/Castle.Core.3.3.0/lib/sl4/Castle.Core.xml
packages/Castle.Core.3.3.0/lib/sl5/Castle.Core.xml
packages/Castle.Core.3.3.0/License.txt
packages/Castle.Core.3.3.0/readme.txt
packages/Castle.Windsor.3.4.0/ASL - Apache Software Foundation License.txt
packages/Castle.Windsor.3.4.0/BreakingChanges.txt
packages/Castle.Windsor.3.4.0/Castle.Windsor.3.4.0.nupkg
packages/Castle.Windsor.3.4.0/Changes.txt
packages/Castle.Windsor.3.4.0/lib/net35/Castle.Windsor.xml
packages/Castle.Windsor.3.4.0/lib/net40/Castle.Windsor.xml
packages/Castle.Windsor.3.4.0/lib/net40-client/Castle.Windsor.xml
packages/Castle.Windsor.3.4.0/lib/net45/Castle.Windsor.xml
packages/Castle.Windsor.3.4.0/lib/sl4/Castle.Windsor.xml
packages/Castle.Windsor.3.4.0/lib/sl5/Castle.Windsor.xml
packages/Castle.Windsor.3.4.0/License.txt
packages/Castle.Windsor.3.4.0/readme.txt
packages/CommonServiceLocator.1.3/CommonServiceLocator.1.3.nupkg
packages/CommonServiceLocator.1.3/lib/portable-net4+sl5+netcore45+wpa81+wp8/Microsoft.Practices.ServiceLocation.XML
packages/Microsoft.ApplicationInsights.2.1.0/lib/dotnet5.4/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.1.0/lib/net40/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.1.0/lib/net45/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.1.0/lib/net46/Microsoft.ApplicationInsights.XML
packages/Microsoft.ApplicationInsights.2.1.0/Microsoft.ApplicationInsights.2.1.0.nupkg
packages/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1/Microsoft.ApplicationInsights.Agent.Intercept.1.2.1.nupkg
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/lib/net40/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/lib/net45/Microsoft.AI.DependencyCollector.XML
packages/Microsoft.ApplicationInsights.DependencyCollector.2.1.0/Microsoft.ApplicationInsights.DependencyCollector.2.1.0.nupkg
packages/Microsoft.ApplicationInsights.JavaScript.0.22.19-build00125/content/scripts/ai.0.22.19-build00125.js
packages/Microsoft.ApplicationInsights.JavaScript.0.22.19-build00125/content/scripts/ai.0.22.19-build00125.min.js
packages/Microsoft.ApplicationInsights.JavaScript.0.22.19-build00125/Microsoft.ApplicationInsights.JavaScript.0.22.19-build00125.nupkg
packages/Microsoft.ApplicationInsights.JavaScript.0.22.19-build00125/tools/prefix.html
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0/Microsoft.ApplicationInsights.PerfCounterCollector.2.1.0.nupkg
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net40/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net40/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net40/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net40/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net40/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net45/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net45/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net45/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net45/web.config.install.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/content/net45/web.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.Web.2.1.0/lib/net40/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.Web.2.1.0/lib/net45/Microsoft.AI.Web.XML
packages/Microsoft.ApplicationInsights.Web.2.1.0/Microsoft.ApplicationInsights.Web.2.1.0.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/lib/net40/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/lib/net45/Microsoft.AI.WindowsServer.XML
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/Microsoft.ApplicationInsights.WindowsServer.2.1.0.nupkg
packages/Microsoft.ApplicationInsights.WindowsServer.2.1.0/Tools/install.ps1
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/content/ApplicationInsights.config.install.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/content/ApplicationInsights.config.transform
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/content/ApplicationInsights.config.uninstall.xdt
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/lib/net40/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/lib/net45/Microsoft.AI.ServerTelemetryChannel.XML
packages/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0/Microsoft.ApplicationInsights.WindowsServer.TelemetryChannel.2.1.0.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/build/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.props
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.install.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/content/web.config.uninstall.xdt
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/lib/net45/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0.nupkg
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/init.ps1
packages/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.1.0.0/tools/uninstall.ps1
packages/Microsoft.Net.Compilers.1.0.0/build/Microsoft.Net.Compilers.props
packages/Microsoft.Net.Compilers.1.0.0/Microsoft.Net.Compilers.1.0.0.nupkg
packages/Microsoft.Net.Compilers.1.0.0/ThirdPartyNotices.rtf
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.CSharp.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/Microsoft.VisualBasic.Core.targets
packages/Microsoft.Net.Compilers.1.0.0/tools/VBCSCompiler.exe.config
packages/Unity.3.5.1404.0/lib/net45/Microsoft.Practices.Unity.Configuration.XML
packages/Unity.3.5.1404.0/lib/net45/Microsoft.Practices.Unity.RegistrationByConvention.XML
packages/Unity.3.5.1404.0/lib/net45/Microsoft.Practices.Unity.xml
packages/Unity.3.5.1404.0/lib/portable-net45+wp80+win8+MonoAndroid10+MonoTouch10/Microsoft.Practices.Unity.xml
packages/Unity.3.5.1404.0/lib/win8/Microsoft.Practices.Unity.RegistrationByConvention.pri
packages/Unity.3.5.1404.0/lib/win8/Microsoft.Practices.Unity.RegistrationByConvention.XML
packages/Unity.3.5.1404.0/lib/win8/Microsoft.Practices.Unity.xml
packages/Unity.3.5.1404.0/lib/wp80/Microsoft.Practices.Unity.RegistrationByConvention.XML
packages/Unity.3.5.1404.0/lib/wp80/Microsoft.Practices.Unity.xml
packages/Unity.3.5.1404.0/Unity.3.5.1404.0.nupkg
packages/Unity.3.5.1404.0/UnityConfiguration30.xsd
packages/Unity.Wcf.2.0.0/content/Unity.Wcf.README.txt
packages/Unity.Wcf.2.0.0/content/WcfServiceFactory.cs.pp
packages/Unity.Wcf.2.0.0/Unity.Wcf.2.0.0.nupkg
